<h1>Authors</h1>
<h3>These are the Authors in your library:</h3>
<% @user.authors.all.each do |author| %>
<ul>
  <li>
    <a href="/authors/<%=author.id%>>"><%= author.name %></a>
  </li>
</ul>
<% end %>

<p><a href='/home'>Home</a></p>
