<h2>Authors</h2>

<p>These are the Authors in your library:</p>
<% @user.authors.all.each do |author| %>
<ul>
  <li>
    <a href="/authors/<%=author.id%>>"><%= author.name %></a>
  </li>
</ul>
<% end %>

<p><a href='/home'>Home</a></p>
