<form action="/login" method="POST">

  <label>Email: </label></br>
    <input type="text" name="email"></br>
  <label>Password: </label></br>
    <input type="password" name="password_digest"></br>

    <input type="submit" value="Login">
</form>
