<p>This to your library, <%=@user.user_name %><p></br>

<a href="/books">Your Books</a></br>
<a href="/authors">Your Authors</a></br>
<a href="/subjects">Your Subjects</a></br>


<p><a href='/books/new'>Add New Book</a></p></br>
