<p>Welcome to your personal page, <%=current_user.user_name %><p></br>

<p>These are the books currently in your library</p></br>

<% current_user.books.all.each do |book| %>
  <%= book.name %>
<% end %>

<p><a href='/books/new'>Add New Book</a></p></br>
