<p>This to your library, <%=@user.user_name %><p></br>

<a href="/books">My Books</a></br>
<a href="/authors">My Authors</a></br>
<a href="/subjects">My Subjects</a></br>


<p><a href='/books/new'>Add New Book</a></p></br>

<p><a href='/logout'>Logout</a></p></br>
