<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<form action="/books/new" method="POST">
  <label>Book Title: </label></br>
    <input type="text" name="book title"></br>

  <label>Author Name: </label></br>
    <input type="text" name="author name"></br>

    <label> Subject(s) </label>
   <% Subject.all.each do |subject| %>
     <input id="<%= subject.name %>" type="checkbox" name="subjects[]" value="<%= subject.id %>">
   <% end %>


    <br></br>
       <input type="submit" value="Add Book">
</form>
