<form action="/books/new" method="POST">
  <label>Book Title: </label></br>
    <input type="text" name="book title"></br>

  <label>Author Name: </label></br>
    <input type="text" name="author name"></br>


    <br></br>
       <input type="submit" value="Add Book">
</form>
