<h1>Edit Book</h1>

<form method="PATCH" action="/books/<%= @book.id %>">
  <label for="title">Title:</label></br>
  <input type="text" value=<%= @book.name %> "></br>
  <label for="author">Author:</label></br>
  <input type="text" value=<%= @author.name %> "></br>
  <label for "subject">Subject:</label></br>
  <input type="text" value=<%= @subject.name %> "></br>


  <input type="submit" value="Submit">
</form>
