<p>The following books are in <%= @subject.name %></p>

<% @subject.books.each do |book| %>
<li>
  <a href="/books<%=book.id%>"><%= book.name %></a>
</li>
  <% end %>

#add number of books, authors (number of work in this genre) for this subject,
