<h1>Subjects</h1>

<p>These are your subjects:</p>
  <% @subjects.all.each do |subject| %>
    <ul>
      <li>
        <a href="/subjects/<%= subject.slug %>"><%= subject.name %></a>
      </li>
    </ul>
  <%end %>

<a href="/home">Home</a>
